@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
    /* #FEFE5B */
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.blog-title-emoji {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, 100px);
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.radialContainer {
  z-index: 1;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  /* background: linear-gradient(to bottom, rgb(123, 8, 255, 0.9), rgb(123, 8, 255, 0.87)); */

  background: linear-gradient(to right, #131523 0%, #110638 50%, #131523 100%);
}

/* .bgGradient {
  background: linear-gradient(to bottom, rgb(123, 8, 255, 0.9), rgb(123, 8, 255, 0.87));
} */

.bgGradient {

  background: linear-gradient(to right, #131523 0%, #110638 100%);
}


/* -----------------------------------IDE Project---------------------------------- */



/* dark  scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: rgb(26, 26, 26);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #0a84ff;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}


.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}



code {
  border-radius: 5px;
  border-width: 1px;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.125rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0.5rem;
  color: rgba(239, 241, 246, 0.75);
  font-size: 0.98rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  white-space: pre-wrap;
}

.example-card pre strong {
  color: white;
  font-size: 1rem;
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
  background-color: #282828 !important;
}

.cm-focused {
  outline: none !important;
}

@layer components {
  .preferenceBtn {
    @apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus:outline-none inline-flex ml-auto p-1 mr-2 hover:bg-color-dark-fill-3;
  }

  .preferenceBtn-tooltip {
    @apply absolute w-auto p-2 text-sm m-2 min-w-max translate-x-3 right-0 top-5 z-10 rounded-md shadow-md text-color-dark-layer-2 bg-gray-200 origin-center scale-0 transition-all duration-100 ease-linear group-hover:scale-100;
  }
}